body{
  font-family: 'Roboto Condensed', sans-serif; /*same google font as the rest, possibly should be comic sans*/
    padding: auto;
    margin: 1rem;
    background-color: #02052e; 
    color: #e8eaff;
    margin: 1rem;
  }

  .Heading{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr 3fr;

  }

    .Logo{
     color: #e8eaff;
     text-align: center;
    }

     

    .Navigation{
      display: grid;/*I gave up trying to make this work with flex*/
      grid-template-columns: 1fr 1fr 1fr;
    }

    .aboutMe{
      text-align: center;
      color: #e8eaff;
    }

    .myProjects{
      text-align: center;
    }

    .myBlog{
      text-align: center;
    }

    .NavigationLink:visited{
      color: #e8eaff;
      text-decoration-style: none;
    }

      .myProjects{
        color: a#e8eaff;
      }

      .myBlog{
        color: #e8eaff;
      }

  .BlogTitle{
      display: flex;
      flex-direction: row;
        
        margin: 1rem; 
        padding: 1rem;   
  }

  .blogPosts{ /*I'm undecided on whether the column-reverse is the best choice here. I think it technically satisfies the requirements, and it would work if the blog was built organically over time*/
    width:100%;
    display: flex;
    flex-direction: column-reverse; /*So this is the simplest way to reorder the posts there is, but as long as you just add to the bottom of the HTML file it will always work*/
    padding: auto;
    justify-content: left;
 
  }

  .ABlogPost{/*about halfway through I realised that numbering the blog posts was just creating a massive ammount of copy and paste code, so I rewrote the variables in the HTML file to reflect what Needed to be displayed*/
      display: flex;
      flex-direction: column;
     
      border: #709FB0 5px solid; /*if I'm committng the 90s aesthetic, I'm committing all the way*/
      justify-content: space-evenly;
  }

  .PostContent{
      padding: auto;
      
  }

  .PostImage{
      max-width: 100%;
      margin:1rem;
      padding: auto;
    }

    .postTitle{
       margin-left: 1rem;
        padding: auto;
    }