body{
    font-family: 'Montserrat', sans-serif;
   
  }

  .BlogTitle{
      display: flex;
      flex-direction: row;
        background-color: blanchedalmond;    
  }

  .blogPosts{
    display: inline-flex;
    flex-direction: column-reverse;
    padding: auto;
  }
