
/*Need Media Breakpoints*/

body{
  /*font-family: 'Montserrat', sans-serif;*/
  background-color: darkblue; /*this must change*/
  color: aliceblue;
}

  .Heading{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr 3fr;

  }

    .Logo{
     color: aliceblue;
    }

    .Navigation{
      display: grid;/*I gave up trying to make this work with flex*/
      grid-template-columns: 1fr 1fr 1fr;
    }

      .aboutMe{
        color: aliceblue;/*This color is just to get rid of the error messages in the IDE*/
      }

      .myProjects{
        color: aliceblue;
      }

      .myBlog{
        color: aliceblue;
      }

      .introPage{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }

  .LandingPage{
    display: flex;
    text-align: left;
    flex-direction: column;
    align-content: center;
    align-self: center;
    padding-left: 1rem;
    
  }  


  .Sidebar{
    color: aliceblue;
    display: flex;
    flex-direction: column;
    align-self: auto;
    
  }

    .photoOfMe{
      border-radius: 90px;
    }

    .NavigationLinks{
      list-style-type: none;
    }
      .navigationLink:hover{/*makes the links jump. cause why not*/
        transform: translateX(-1rem);
      }

  .resumeContent{
    color: aliceblue;
 
  }
