
/*Need Media Breakpoints*/

body{
  /*font-family: 'Montserrat', sans-serif;*/
  font-family: 'Roboto Condensed', sans-serif;
  background-color: #02052e; /*needs mild some noise, which would have to be made in blender, placed as a transparent background, or some other really annoying option*/
  color: #e8eaff;
}



  .Heading{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr 3fr;

  }

    .Logo{
     color: #e8eaff;
     text-align: center;
    }

    .Navigation{
      display: grid;/*I gave up trying to make this work with flex*/
      grid-template-columns: 1fr 1fr 1fr;
    }

    .aboutMe{
      text-align: center;
      color: #e8eaff;
    }

    .myProjects{
      text-align: center;
    }

    .myBlog{
      text-align: center;
    }

    .NavigationLink:visited{
      color: #e8eaff;
      text-decoration-style: none;
    }

      .myProjects{
        color: a#e8eaff;
      }

      .myBlog{
        color: #e8eaff;
      }

      .introPage{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 6rem;
      }

  .LandingPage{
    display: flex;
    text-align: left;
    flex-direction: column;
    align-content: center;
    align-self: center;
    padding-left: 2rem;
    font-size: 300%;
    -webkit-transition: 2s;
    
  }  


    .LandingPage:hover{
      font-size: 350%;
      transition: 3s;
    }

    .primaryHeading:hover{
      color: #6E85B2 ;
      transform: 0.5s;
      
    }
    .blurb:hover{
      color: #5C527F;
      transform: 0.5s;
    }


  .Sidebar{
    color: #e8eaff;
    display: flex;
    flex-direction: column;
    align-self: auto;
    padding-right: 3rem;
    padding-top: 2rem;
    -webkit-transition: 2s;
  }
  .Sidebar:hover{
    transform: scale(220%);
    transition: 1.5s;
  }

    .photoOfMe{
      border-radius: 90px;/*this will change with the new photo*/
      padding-bottom: 1rem;
    }
    .SidebarLinks{
      display: inline-flex;
      flex-direction: column;
      justify-content: right;
    }
    .SocialLinks{
      list-style-type: none;
      display: flex;
      flex-direction: column-reverse; /*fixes the bug in the email icon*/    
    }

      .SocialLinks:hover{/*makes the links jump. cause why not*/
        transform: translateX(-2rem);
        transform: scale(150%);
        transition: 0.5s;
      }

      .linkedInLogo{ /*Formating for the link Icons*/
        border-radius: 4px;
       
      }
      .GithubLogo{
        border-radius: 4px;
      }
      .emailIcon{
        border-radius: 4px;
        }

  .resumeContent{
    color: #e8eaff;
 
  }

  .PortfolioProjects{
    color: #e8eaff;
  }
